
@model ConsoleAppProject.App01.DistanceConverter
@{
    ViewData["Title"] = "DistanceConverter";
}
<header>
<h1>Distance Converter</h1>
<h2>by Ionut Boris </h2>

<p>This app will convert your desired measurement unit into another. </p> 
</header>
<section>
<form method="post">
    <h2>From Unit </h2>
    <p>Please enter the unit that you want to convert from </p> 

    <input type="submit" placeholder="FEET" />
</form>    

</section>
